<!DOCTYPE html>
<html lang="en">

<head>
  <title>Estimaciones</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link type="text/css" rel="stylesheet" href="css/animate.css" />
</head>

<body>

  <section id="ingresarNombre" class="ingresarNombre">
    <h1 class="titulo animate__animated animate__fadeIn">Estimaciones</h1>
    <div class="ingresarNombreFlex">
      <input placeholder="Ingresar nombre" type="text" id="inputNombre" class="inputText" onkeydown="teclaEnter()">
      <button class="button" onclick="aceptarNombre()">OK</button>
    </div>
    <div class="version">
      <span>Version 1.0</span>
    </div>
  </section>

  <section id="seccionPuntuar" class="seccionPuntuar" style="display: none;">
    <section>
      <br>
      <span>Votar</span>
      <section class="botonesVotar">
        <button class="button" onclick="votar('1')">1</button>
        <button class="button" onclick="votar('2')">2</button>
        <button class="button" onclick="votar('3')">3</button>
        <button class="button" onclick="votar('5')">5</button>
        <button class="button" onclick="votar('8')">8</button>
      </section>
      <br>
      <span>Acciones</span>
      <section class="botonesAcciones">
        <button class="button" onclick="mostrarVotos()" id="botonMostrarVotos">Mostrar Votos</button>
        <button class="button" onclick="resetear()">Resetear</button>
      </section>

      <section class="contenedorPuntuarYResultados">
        <div class="seccionPuntuarTabla" id="tabla">
          <table class="customTable">
            <thead>
              <tr>
                <th>Votante</th>
                <th>Puntaje</th>
              </tr>
            </thead>
            <tbody id="participantesBody">
              <tr>
                <td>a</td>
                <td>b</td>
              </tr>
            </tbody>
          </table>
        </div>
       
          <div id="resultados" class="resultados"></div>
        

      </section>
    </section>



  </section>


</body>

</html>

<script src="js/arrastrar.js"></script>
<script src="js/socket.js"></script>
<script src="js/logica.js"></script>
